HELP.md
server/.gradle
server/build/
!server/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache
server/bin/
!**server/src/main/**/bin/
!**server/src/test/**/bin/

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr
server/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/

### VS Code ###
.vscode/
.DS_Store

### client ###
client/node_modules
client/.pnp
client/.pnp.js
client/.yarn/install-state.gz

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
*.tsbuildinfo
client/next-env.d.ts


